# Drizzle & Turso Database
DATABASE_URL=file:local.db
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Resend Mailer
RESEND_API_KEY=re_123456789
RESEND_FROM_EMAIL=info@payjeezy.com

# Public Production Funnel URL
PUBLIC_FUNNEL_URL=https://dispensary.payjeezy.com
